@font-face {
  font-family: valorax;
  src: url("assets/Valorax.otf");
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
}

:root{
  font-family: valorax, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --borderColor: #e03535;
  --boxText: #0c0101;
  color: #e03535 !important;
  border-color: #e03535 !important;
  background-color: #0c0101;
}

body {
  font-family: valorax, system-ui;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

*{
  font-family: valorax, system-ui;
}

.futureBox:hover {
  background-color: #e03535;
  color: #111 !important;
}

.futureBox {
  border: solid 2px;
  text-align: center;
  display: grid;
  place-items: center;
  width: calc(700px/4);
  height: calc(200px/4);
  position: relative;
  background: transparent;
  clip-path: polygon(9.5% 0, 100% 0, 100% 100%, 0 100%, 0 32.5%);
}

.futureBox::before {
  border: 2px solid;
  content: "";
  position: absolute;
  width: 45.5px;
  height: 45.5px;
  top: -50%;
  left: -25%;
  transform: rotate(45deg);
}


.noStyle{
  text-decoration: none !important;
  color: var(--borderColor) !important;
}